PROJECT_ROOT=/app
LOCAL_STORAGE_DIR=/app/storage
LOCAL_OUTPUT_DIR=/app/outputs
REFERENCE_DATA_PATH=/app/data/reference/simulated_data.csv

MLFLOW_TRACKING_URI=http://mlflow:5000
MLFLOW_REGISTRY_URI=http://mlflow:5000
MLFLOW_EXPERIMENT_NAME=lms-dropout-risk
MLFLOW_REGISTERED_MODEL_NAME=lms-dropout-risk-model
MLFLOW_CHAMPION_ALIAS=champion
MLFLOW_SERVER_ALLOWED_HOSTS=mlflow,mlflow:5000,localhost,localhost:5000,127.0.0.1,127.0.0.1:5000
GIT_PYTHON_REFRESH=quiet

PREFECT_API_URL=http://prefect-server:4200/api

STORAGE_BACKEND=minio
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=lms-mlops
MINIO_SECURE=false

RISK_THRESHOLD=0.5
DATA_DRIFT_SHARE_THRESHOLD=0.5
PREDICTION_SCORE_DRIFT_THRESHOLD=0.05
